@import '../../../../assets/style/variables';
@import '../../../../assets/style/mixins';

.frmBlock {
    @include inputBlock;
    height: 100%;
    flex: 1;

    input {
        min-height: $input-height;
        box-sizing: content-box;
        padding: $item-default-margin/2;
        flex: 1;
        box-sizing: border-box;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}