@import '../../../../assets/style/variables';
@import '../../../../assets/style/mixins';

.frmBlock {
    @include inputBlock;
    flex-grow: 1;

    textarea {
        flex-grow: 1;
        padding: $item-default-margin/2;
    }
}